/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* debug */
.debug{
    border: 1px solid black;
}

body{
    scroll-behavior: smooth;
}

html{
    font-family: 'Montserrat', sans-serif; 
}

/* aside */

aside{
    width: 180px;
    background-color: black;
    z-index: 1;
    margin-top: -80px;
}

.logo{
    width: 75%;
    height: 7%;
    margin-top: 30px;
}

.aside_nav{
    width: 77%;
    margin-top: 20px;
}

.aside_nav span{
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.aside_nav img{
    width: 20%;
    height: 20%; 
    vertical-align: middle;
}

.aside_nav li{
    margin: 5px;
    color: rgb(82, 82, 82);
    list-style: none;
}

.playlist {
    width: 70%;
    margin-top: 5px;
}

.playlist li{
    margin: 15px 0px;
    color: rgb(82, 82, 82);
    list-style: none;
    font-size: 12px;
}

.playlist h3{
    color: white;
    font-size: 12px;
    font-weight: 900;
}

.playlist span, .aside_download_top span {
    color: rgb(82, 82, 82);
    font-weight: 700;
    font-size: 12px;
}

.ri-add-box-fill{
    font-size: 40px;
    vertical-align: middle;
    font-weight: 900;
    margin-left: -5px;
}

.aside_download{
    width: 70%;
    height: 100px;
    margin-top: 460px;
}

.aside_download div img{
    width: 15px;
    vertical-align: middle;
}

.aside_download_top{
    border-bottom: 1px solid rgb(82, 82, 82);
    padding-bottom: 3px;
}

.aside_download_bottom{
    margin-top: 8px;
}

.aside_download_bottom img{
    background-color: grey;
    border-radius: 50%;
    font-size: 20px;
}

.aside_download_bottom span{
    color: white;
    font-size: 12px;
    font-weight: 700;
}


/* /aside */

/* header */

header{
    width: 100%;
    height: 60px;
    background-color: #080b12;
}

.flex_header{ 
    display: flex;
    justify-content: end;
    align-items: center;
}

button{
    width: 17%;
    height: 35px;
    margin-right: 15px;
    background-color: #080b12;
    border: 1px solid #ffffff;
    border-radius: 18px 18px 18px 18px;
    color: #ffffff;
    opacity: 1.5;
    font-size: 12px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex_aside{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* /header */

/* main */

.section_flex{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}  

main{
    width: calc(100% - 180px);
    height: fit-content;
    background-color: #141922;
    padding: 10px 20px;
    /* padding: 10px; */

}

.top_nav{
    width: 100%;
    text-align: center;
    padding: 7px;
    margin-left: 30px;
}

.top_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    color: #7d7f84;
    font-size: 12px;
    font-weight: 600;
}

/* main boxes top */

.top_row_boxes_contenitor{
    width: 100%;
    /* height: 300px; */
    /* margin-bottom: 100px;
    margin-left: 20px;
    margin-top: 20px; */
}

.wrapper_top_box{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;  
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}

.box{
    width: calc((100% / 6) - 10px); 
    min-height: 350px; 
    text-align: center;  
} 

.box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.top_box_description h1 {
    color: white;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}

.bottom_box_description{
    line-height: 20px;
}

.box .bottom_box_description h2{
    color: white;
    font-size: 12px;
    font-weight: bolder;
}

.box .bottom_box_description p{
    color: #5a5a5a;
    font-size: 12px;
    font-weight: bolder;
}
/* /main boxes top */

/* main boxes middle  */

.wrapper_middle_row_boxes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;  
    align-items: center;
    gap: 10px;
    margin-left: 15px;
    
}

.middle_row_boxes_contenitor{
    margin-top: 100px;
}

.middle_row_boxes_contenitor h2{
    color: white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.middle_row_boxes_contenitor p{
    padding: 10px;
}

.middle_row_boxes_contenitor, .box p{
    color: #5a5a5a;
    font-size: 12px;
    font-weight: bolder;
}

.box img{
    /* object-fit: cover; */
    width: 100%;
    /* height: 100%; */
    /* padding-left: 15px; */
}


.box, .middle_row_boxes_description h2{
    color: white;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}
/* main boxes middle  */

/* main boxes bottom */

.bottom_row_boxes_contenitor{
    margin-top: 50px;
}

.bottom_row_boxes_contenitor h2{
    color: white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.wrapper_bottom_row_boxes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;  
    align-items: center;
    gap: 10px;
    margin-left: 15px;   
}

.box, .bottom_row_boxes_description h2{
    color: white;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}

.bottom_row_boxes_contenitor, .box p{
    color: #5a5a5a;
    font-size: 12px;
    font-weight: bolder;
   
}
.bottom_row_boxes_contenitor p{
    padding: 10px;
}

.wrapper_bottom_row_boxes img{
    /* object-fit: cover; */
    width: 100%;
    /* height: 100%; */
    border-radius: 150px;
}
/* /main boxes bottom */


/* main mediaquery */

@media screen and (max-width: 1400px) {

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }


    .box{
        width: calc((100% / 4) - 10px); 
    } 
  } 

  @media screen and (max-width: 576px) {

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }


    .box{
        width: calc((100% / 2) - 10px); 
    } 
  } 


/* /main */

/* footer */

footer{
    width: 100%;
    height: 13%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.footer_flex{
    display: flex;
    align-content: center;
    justify-content: flex-start;
} 

.footer_left {
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image{
    width: 45px;
    height: 45px; 
    margin-left: 3px;
}

img.footer_img {
    width: 45px;
    height: 45px;
    margin-top: 2px;
    padding-left: 5px;   
}

.footer_left_description span{
    color: white;
    font-size: 12px;
    padding-top: 10px;
    font-weight: bold;
    padding-left: 5px;
}

.footer_left_description p {
    font-size: 8px;
    color: #818181;
    padding-left: 5px;
}

.footer_left_icons i {
    color: white;
    margin-left: 23px;
    font-size: 11px;
}

.footer_left_icons {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
} 

.footer_center {
    width: 50%;    
}

.footer_center_upper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer_center_upper i{
    margin: 0 10px;
    color: white;
    font-size: 16px;
}


#circle_play{
    font-size: 25px;
}


.footer_center_lower{
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer_center_lower span{
    color: white;
    font-size: 8px;
    font-weight: 900;
    margin: 0 30px;
}

.footer_time_design{
    background-color: #5a5a5a;
    height: 5px;
    width: 70%;
    border-radius: 2px;
    margin-top: 3px;
}

.footer_time_design div{
    background-color: #c1c1c1;
    width: 30%;
    height: 5px;
    border-radius: 2px;
}

.footer_right {
    width: 25%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer_right i{
    margin: 0 12px;
    color: white;
}
/* /footer */

/* footer_mediaquery */

@media screen and (max-width: 576px) {

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }


    .footer_left_icons {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; 
    }
  } 



/* /footer_mediaquery */

